<div class="page">

  <!-- Upload -->
  <app-upload
  #uploadCmp
  (csvLoaded)="onCsvLoaded($event)"
  (clearWarnings)="limparAvisos()"
></app-upload>


  <div class="header card">
    <div>
      <h2 class="section-title">Relatório de Vendas</h2>
      <p class="subtitle">Importe um CSV e veja o resumo por produto</p>
    </div>

    <div class="actions">
      <button
        pButton
        type="button"
        label="Exportar CSV"
        icon="pi pi-download"
        class="btn-primary-green"
        (click)="exportarAgregadosCSV()"
        [disabled]="!agregadas.length"
      ></button>
    </div>
  </div>

  <!-- Avisos -->
  <div class="card" *ngIf="parseErrors.length">
    <h4>Avisos</h4>
    <ul>
      <li *ngFor="let e of parseErrors">{{ e }}</li>
    </ul>
  </div>

  <!-- Resumo -->
  <div class="grid">
    <div class="card">
      <h4 class="section-title">Total Geral</h4>
      <div class="big">{{ totalGeral | currencyBr }}</div>
    </div>

    <div class="card">
      <h4 class="section-title">Produto mais vendido</h4>
      <div class="big">{{ maisVendido?.produto || '-' }}</div>
      <div class="muted" *ngIf="maisVendido">
        Quantidade: {{ maisVendido.quantidadeTotal }}
      </div>
    </div>
  </div>

  <!-- Filtro -->
  <div class="card">
    <div class="filter-row">
      <div >
        <i class="pi pi-search"></i>
      <h4 class="section-title" style="padding-left: 5px;">Pesquisar:</h4>
      </div>
      </div>
     <div class="filter-row" style="display: flex; gap: 1rem; width: 100%; align-items: center;">
       <span class="p-input-icon-left w-100">

        <input
          pInputText
          type="text"
          [(ngModel)]="filtroProduto"
          (input)="aplicarFiltro()"
          placeholder="Filtrar por produto"
          aria-label="Filtrar por produto"
          class="w-100"
        />
      </span>

      <button
        pButton
        type="button"
        label="Limpar"
        class="btn-primary-green"
        (click)="limparFiltro()"
      ></button>
     </div>

  </div>

  <div class="table-chart-grid">

    <!-- Tabela -->
    <div class="card card-fixed" *ngIf="agregadasFiltradas.length; else emptyState">
      <p-table
        [value]="agregadasFiltradas"
        [paginator]="true"
        [rows]="10"
        [alwaysShowPaginator]="true"
        [pageLinks]="3"
        [showJumpToPageDropdown]="false"
        [showFirstLastIcon]="false"
        sortMode="multiple"
        dataKey="produto"
        responsiveLayout="scroll"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines custom-table"
      >
        <ng-template pTemplate="header">
  <tr>
    <th pSortableColumn="produto" class="col-produto">
      Produto <p-sortIcon field="produto"></p-sortIcon>
    </th>

    <th pSortableColumn="quantidadeTotal" class="col-qtd text-center">
      Quantidade <p-sortIcon field="quantidadeTotal"></p-sortIcon>
    </th>

    <th pSortableColumn="valorTotal" class="col-valor text-right">
      Valor Total <p-sortIcon field="valorTotal"></p-sortIcon>
    </th>

    <th class="col-actions text-right">Ações</th>
  </tr>
</ng-template>

<ng-template pTemplate="body" let-item>
  <tr>
    <td class="col-produto cell-product">{{ item.produto }}</td>
    <td class="col-qtd text-center">{{ item.quantidadeTotal }}</td>
    <td class="col-valor text-right">{{ item.valorTotal | currencyBr }}</td>
    <td class="col-actions text-right">
      <button
        pButton
        type="button"
        icon="pi pi-search"
        class="btn-action"
        aria-label="Ver detalhes"
        (click)="abrirDetalhe(item)"
      ></button>
    </td>
  </tr>
</ng-template>



        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="empty-message">Nenhum resultado encontrado.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <ng-template #emptyState>
      <div class="card card-fixed">
        Nenhum dado para exibir. Importe um CSV válido.
      </div>
    </ng-template>

    <!-- Chart -->
    <div class="card card-fixed" *ngIf="chartData">
      <h4 class="section-title">Quantidades por produto</h4>
      <p-chart type="bar" [data]="chartData"></p-chart>
    </div>

  </div>
</div>
