<header class="topbar">
      <div class="topbar-left">
        <h1 class="page-title">Dashboard de Vendas</h1>
      </div>

      <div class="topbar-right">
        <span class="p-input-icon-left search">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Search" aria-label="Search" />
        </span>
      </div>
    </header>
<div class="app-shell">
  <div class="main">

    <main class="content">
      <app-dashboard></app-dashboard>
    </main>
  </div>
</div>
